.table1{
    /* width: 500px; */
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */

    padding: 10px ;

           /* T     R     B    L 
              T     S     B 
              TB    LR
              Sab */
}

table, th, td
{
    border: 2px solid red;
    padding: 10px;
    background-color: black;

    
}

table{
    margin-left:500px ;
    margin-bottom:500px ;
}

.colour{
  
  color: white;
}


  
  .button1 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 128, 0);
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: #c2238d;
    color: white;
  }
  
.button2{
    color: rgb(255, 255, 255);
    background-color: rgb(128, 4, 0);
    padding: 10px 20px;
}

.button2:hover{
    background-color: #7e02af;
    color: white;
}


